{% for tag in include.tags %}

  {% assign color = "" %}

  {% for t in site.tag_colors.tech %}
    {% if t == tag %}{% assign color = "label-blue" %}{% endif %}
  {% endfor %}
  {% for t in site.tag_colors.activity %}
    {% if t == tag %}{% assign color = "label-yellow" %}{% endif %}
  {% endfor %}
  {% for t in site.tag_colors.context %}
    {% if t == tag %}{% assign color = "label" %}{% endif %}
  {% endfor %}

  {% if color == "" %}{% assign color = "label-grey" %}{% endif %}

  <span class="label {{ color }}" style="display:inline-block; margin-left:6px;">
    {{ tag }}
  </span>

{% endfor %}
